* {
    margin: 0;
    padding: 0;
}

#top {
    background: url('https://images.unsplash.com/photo-1522191800707-5f01b7b9a3b8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
    padding: 30px;
}

#title {
    
    font-family: 'Muli', sans-serif;

    font-size: 62px;
    color: white;

    padding: 10px;
    display: table-cell;
    text-align: center;
    width: 100vw;
    height: 12vh;
    overflow: hidden;
    vertical-align: middle;
}

#description {
    font-family: 'Muli', sans-serif;

    font-size: 24px;
    color: white;

    text-align: center;
    width: 100%;
    height: 40px;
    vertical-align: middle;

}

#graph-div {
    width: 100vw;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-label-left {
    transform: rotate(90deg);
    font-family: 'Muli', sans-serif;
    font-size: 24px;
}

.text-label-bottom {
    font-family: 'Muli', sans-serif;
    font-size: 24px;
}

.dot {
    stroke: black;
}

#tooltip {
    position: fixed;
    overflow: hidden;
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tooltip::before {
    content: '';
    position: fixed;
    background: brown;
    width: 10px;
}

#legend {
    width: 100vw;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}